// Place all the styles related to the Expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import "bootstrap";

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

.container{
  padding: 5px;
}

table {
   
  border: 1px solid black;
  
  tr td {
    padding: 5px;
    vertical-align: top;
  }
  
  #amount {
    font-size: 1.3em;
	font-weight: bold;
  }
  
  th {
    padding: 5px;
    color: #dfd;
	background: #141;
	vertical-align: top;
  }
	
}

.list_line_even {
  background: #e0f8f8;
}

.list_line_odd {
  //background: lightGreen;
}

a {
  color: #141;
  padding: 0.2em 1em;
  
  &:hover {
    color: #fff;
	background: #141;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
}

.link {
  display: inline;
}

#total_expenses_sum {
  //color: #141;
  margin: 20px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: sans-serif;
}

#date {
  margin: 20px 20px 20px 0px;
}

fieldset {
  background: #efe;
  
  legend {
    color: #dfd;
	background: #141;
	font-family: sans-serif;
	padding: 0.2em 1em;
  }
}

form {
  label {
	width: 10em;
	float: left;
	text-align: right;
	padding-top: 1.8em;
	margin-right: 0.5em;
	display: block;
  }
  input {
	margin-left: 0.5em;
  }
  .submit {
	margin-left: 4em;
  }
}

#footer {
  padding-top: 1.5em;
}