// Place all the styles related to the Expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import "bootstrap";

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

.container{
  padding: 5px;
}

table {
   
  border: 1px solid black;
  
  tr td {
    padding: 5px;
    vertical-align: top;
  }
  
  #amount {
    font-size: 1.3em;
	font-weight: bold;
  }
  
  th {
    padding: 5px;
    background: lightGreen;
	vertical-align: top;
  }
	
}

.list_line_even {
  background: #e0f8f8;
}

.list_line_odd {
  background: #f8b0f8;
}

a {
  padding: 5px;
  
  &:hover {
    color: #fff;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
}

.link {
  display: inline;
}

#total_expenses_sum {
  margin: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

#date {
  margin: 20px 20px 20px 0px;
}
