<header id="header">
  <div class="container">
    <fieldset>
	 <legend><%=t :menu %></legend>
	  <%= link_to t(:listing_income_and_expenses), '#' %>
      <%= link_to t(:listing_expenses), expenses_path %>
      <%= link_to t(:listing_income), '#' %>
    </fieldset>
  </div>
</header>